.Rproj.user
.Rhistory
.RData
.Ruserdata
ApproachDescription.docx
ApproachDescription.html
ApproachDescription.pdf
PresentationProject-concordance.tex
PresentationProject.aux
PresentationProject.log
PresentationProject.nav
PresentationProject.out
PresentationProject.pdf
PresentationProject.snm
PresentationProject.synctex.gz
PresentationProject.tex
PresentationProject.toc
config.json
*.o
*.so
